.vscode
build
build-release
build-debug
venv
cmake-build-debug
cmake-build-debug-visual-studio
cmake-build-release
cmake-build-release-visual-studio
.bak
.idea
.DS_Store
*.svg
*.csv
*.zst
log.txt
*.log
*.aux
*.fdb_latexmk
*.fls
*.pdf
*.synctex.gz
*.toc
*.out
